.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-size: large;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
     height: 45px;
     width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(88, 85, 85);
    margin: 0;
    padding: 0;
}

.navbar-menu a {
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: larger;
    text-decoration: none;
    color: inherit;
}

.navbar-menu a:hover {
    color: #92828f;
}

.navbar-menu a.active {
    color: #ff4242;
    text-decoration: underline;
    text-underline-position: below;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar-right img {
    cursor: pointer;
    height: 20px;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

@media (max-width: 1050px) {
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo{
        width: 140px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right{
        gap: 20px;
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width:750px) {
    .navbar-menu{
       display: none;
    }
}